.skills-section {
  padding: 60px 20px;
  background: rgb(30, 30, 30);
  color: white;
  border-radius: 16px;
}

.skills-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.skills-title span {
  color: #ffd700;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.skill-card {
  background: #454611;
  border-radius: 12px;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.6);
}

.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 1rem;
  font-weight: 500;
}

.skill-icon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
