#contactPage {
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  z-index: 5;   /* ✅ particles se ऊपर आ जाएगा */
  background: rgb(30, 30, 30); /* ✅ particles hide */

}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: 1rem;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;

  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);

  box-sizing: border-box;
}


.submitBtn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(59, 10, 153, 0.4);
}

.submitBtn:hover {
  background: #d7f35d;
  transform: scale(1.05);
}



@media (max-width: 700px) {
  .msg {
    min-height: 120px;
     max-width: 100%;
  }
}

.touch {
    color: yellow;
}
.email::placeholder,
.msg::placeholder,
.name::placeholder {
  color: rgb(150, 148, 148);
  opacity: 1;
}


.callIcon{
    width: 30px;
    height: 30px;
    /* display: flex; */
    
}