.navbar {
    position: fixed;   /* ✅ Always visible */
    top: 0;
    left: 0;
    width: 100%;       /* ✅ Full screen width */
    height: 5rem;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: rgb(25,25,25); /* ✅ background necessary */
   
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.desktopMenuButton{
    background: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    border: none;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0px 5px 15px rgba(59, 10, 153, 0.4);
}
.desktopMenuButton:hover{
      background: #d7f35d;
  transform: scale(1.05);
}

.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    
}



.active {
    color: yellow;
    padding-bottom:0.5rem;
     border-bottom: 3px solid yellow;
}



.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);

}
/* sdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsdsd */
.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 5rem;
    right: 5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40) ;
    border-radius: 1rem;
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
        margin-right: 10rem;
    }
    .desktopMenu {
        display: none;

    }
    .desktopMenuButton {
        display: none;

    }
    .navMenu{
        margin-right: auto;
        margin-right: 5rem;
    }
}


