#works {
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    /* max-width: 45rem; */
    margin-bottom: 40px;
}

.worksImgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* ✅ 4 per row */
  gap: 20px;

  width: 100%;
  max-width: 70rem;
  margin-top: 20px;
  cursor: pointer;
}


.worksImg:hover {
  transform: translateY(-8px) scale(1.07);
  box-shadow: 0 0 25px rgba(255, 255, 0, 0.25);
}


.worksImg {
  width: 100%;
  height: 200px; /* ✅ uniform cards */
  object-fit: cover;
  border-radius: 12px;

   transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}


.workBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

.workBtn:hover{
  background: #f7562e;
  transform: scale(1.05);
}


@media screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}

@media (max-width: 1000px) {
  .worksImgs {
    grid-template-columns: repeat(2, 1fr); /* ✅ 2 per row */
  }
}

@media (max-width: 600px) {
  .worksImgs {
    grid-template-columns: 1fr; /* ✅ 1 per row */
  }
}
