#works {
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    /* max-width: 45rem; */
    margin-bottom: 40px;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 70rem;
    flex-wrap: wrap;
}

.worksImg:hover {
    transform: translateY(-8px) scale(1.05);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.6);
}


.worksImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.workBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

@media screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}