.aboutSection {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 1rem;
  background-color: rgb(30, 30, 30);
}

.aboutTitle {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.aboutTitle span {
  color: rgb(238, 255, 0);
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.aboutImgBox {
  flex: 1;
  max-width: 350px;
}

.aboutImg {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}

.aboutContent {
  flex: 2;
  max-width: 500px;
}

.aboutContent h3 {
  color: rgb(255, 196, 4);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.aboutContent p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 20px;
}

.resumeBtn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0px 5px 15px rgba(59, 10, 153, 0.4);
}

.resumeBtn:hover {
  background: #d7f35d;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
  }

  .aboutContent {
    max-width: 100%;
  }
}



.aboutImg {
  filter: grayscale(100%);   /* ✅ black & white */
  transition: all 0.4s ease; /* ✅ smooth effect */
}

.aboutImg:hover {
  filter: grayscale(0%);
  transform: scale(1.08);
  box-shadow: 0 10px 30px rgba(255, 255, 0, 0.3);
}

