.footer {
  background-color: #000000;
  padding: 60px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
}

.footerContainer {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* ✅ Common Titles */
.footerTitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* ✅ Left Section */
.footerLeft p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #ddd;
}

.footerTagline {
  margin-top: 15px;
  font-weight: bold;
}

/* ✅ Links Section */
.footerLinks ul {
  list-style: none;
  padding: 0;
}

.footerLinks li {
  margin: 10px 0;
}

.footerLinks a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.footerLinks a:hover {
  color: #ffd700;
}

/* ✅ Right Section */
.footerRight p {
  margin: 8px 0;
  color: #ddd;
}

/* ✅ Social Icons */
.footerSocials {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.footerSocials img {
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.footerSocials img:hover {
  transform: scale(1.1);
  background: #ffd700;
}

.contactLine {
    display: flex;
  align-items: center;
  gap: 10px;          
  margin: 10px 0;     
  color: #ddd;
  font-weight: 300;
}
.contactIcon {
  width: 15px;
  height: 20px;
  object-fit: contain;
}
